<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">

	<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview3">
		<ul class="hide">
			<!-- SLIDE  -->
			<!-- data-delay="7000"  Slide 7secondes -->
			<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off" data-title="Home" data-delay="7000">
				<div class="overlay dark-1">
				</div>
				<!-- MAIN IMAGE -->
				<%= image_tag("img01.jpg", :alt => "cover image", :data_bgposition => "center top", :data_bgfit => "cover", :data_bgrepeat => "no-repeat") %>
				<div class="tp-caption white_big skewfromleft tp-resizeme"
					data-x="90"
					data-y="100"
					data-speed="400"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-splitin="words"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style=" z-index: 2; color: #df4759;
						font-size: 65px;
						line-height: 100px;
						font-weight: bold;
						letter-spacing: 10px;
						text-shadow: none;
						text-transform: uppercase;">
					<p class="display-1">Rocket Elevators.</p>
				</div>

				<div class="tp-caption content_text_center skewfromleft tp-resizeme"
					data-x="90"
					data-y="195"
					data-speed="500"
					data-start="2000"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style="
						z-index: 3;
						font-size: 22px;
						color: #fff;
						font-weight: 300;
						text-shadow: none; ">
					Reinventing The Way You Move. <br />
					With Safety, Speed and Style
				</div>

				<div class="tp-caption tp-fade"
					data-x="left"
					data-y="25"
					data-speed="300"
					data-start="800"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="z-index: 4"
				>

				</div>

				<div class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
					data-x="100"
					data-y="300"
					data-speed="300"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="
						z-index: 5;
						max-width: auto;
						max-height: auto;
						white-space: nowrap;">
					<a class="btn btn-danger btn-lg" href="#services">Our services &nbsp; <i class="fa fa-angle-right"></i></a>
				</div>
				<div class="tp-caption skewfromright sfb tp-resizeme"
					data-x="290"
					data-y="300"
					data-speed="300"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="
						z-index: 6;
						max-width: auto;
						max-height: auto;
						white-space: nowrap;">
					<a class="btn btn-danger btn-danger btn-lg" href="form">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
				</div>
			</li>

			<!-- SLIDE  -->

			<!-- ajout -->
			<li
				data-transition="parallaxtobottom"
				data-slotamount="7"
				data-masterspeed="600"
				data-saveperformance="off"
				data-title="Commercial"
				data-delay="7000">

				<!-- MAIN IMAGE -->
				<%= image_tag("img02.jpg", :alt => "cover image", :data_bgposition => "center top", :data_bgfit => "cover", :data_bgrepeat => "no-repeat") %>
				
				<div class="tp-caption white_big skewfromleft tp-resizeme"
					data-x="90"
					data-y="100"
					data-speed="400"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-splitin="words"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style="
						z-index: 2;
						color: #df4759;
						font-size: 55px;
						line-height: 100px;
						font-weight: bold;
						letter-spacing: 10px;
						text-shadow: none;
						text-transform: uppercase;">

					Commercial solutions
				</div>

				<div class="tp-caption content_text_center skewfromleft tp-resizeme"
					data-x="90"
					data-y="195"
					data-speed="500"
					data-start="2000"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style="
						z-index: 3;
						font-size: 18px;
						color: #fff;
						font-weight: 300;
						text-shadow: none;
						background-color: #df4759;
						padding: 0 10px;">
					innovative solutions for new buildings.
					<br />Our committed teams are invested<br />
					in the future of your elevators
				</div>

				<div class="tp-caption tp-fade"
					data-x="left"
					data-y="25"
					data-speed="300"
					data-start="800"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="z-index: 4"></div>

				<div class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
					data-x="90"
					data-y="300"
					data-speed="300"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="
						z-index: 5;
						max-width: auto;
						max-height: auto;
						white-space: nowrap;">
					<a class="btn btn-danger btn-lg" href="commercial"
						>Learn more &nbsp; <i class="fa fa-angle-right"></i></a>
				</div>
			</li>
			<!-- fin ajout slide 2-->
			<!-- ajout slide 3 -->
			<li
				data-transition="parallaxtobottom"
				data-slotamount="7"
				data-masterspeed="600"
				data-saveperformance="off"
				data-title="Residential"
				data-delay="7000">
				<!-- MAIN IMAGE -->
				<div class="overlay dark-3"><!-- dark overlay [1 to 9 opacity] --></div>
				<%= image_tag("img03.jpg", :alt => "cover image", :data_bgposition => "center top", :data_bgfit => "cover", :data_bgrepeat => "no-repeat") %>
				
				<div
					class="tp-caption white_big skewfromleft tp-resizeme"
					data-x="90"
					data-y="100"
					data-speed="400"
					data-start="1500"
					data-easing="Power3.easeInOut"
					data-splitin="words"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style="
						z-index: 2;

						color: #df4759;
						font-size: 55px;
						line-height: 100px;
						font-weight: bold;
						letter-spacing: 10px;
						text-shadow: none;
						text-transform: uppercase;
					"
				>
					Residential solutions
				</div>

				<div
					class="tp-caption content_text_center skewfromleft tp-resizeme"
					data-x="90"
					data-y="195"
					data-speed="500"
					data-start="2000"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="600"
					style="
						z-index: 3;
						font-size: 18px;
						color: #fff;
						font-weight: 300;
						text-shadow: none;
						background-color: #df4759;
						padding: 0 10px;
					"
				>
					Creating residential elevators that change the way people move
					is our passion.
					<br />All you need for smooth people flow

					<br />
				</div>

				<div
					class="tp-caption tp-fade"
					data-x="left"
					data-y="25"
					data-speed="300"
					data-start="800"
					data-easing="Power3.easeInOut"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="z-index: 4"
				></div>

				<div
					class="tp-caption skewfromleft tp-resizeme un-button-2-lg"
					data-x="90"
					data-y="300"
					data-speed="300"
					data-start="2500"
					data-easing="Power3.easeInOut"
					data-splitin="none"
					data-splitout="none"
					data-elementdelay="0.1"
					data-endelementdelay="0.1"
					data-endspeed="300"
					style="
						z-index: 5;
						max-width: auto;
						max-height: auto;
						white-space: nowrap;
					"
				>
					<a class="btn btn-danger btn-lg" href="pages/residential"
						>Learn more &nbsp; <i class="fa fa-angle-right"></i
					></a>
				</div>
			</li>
			<!-- fin ajout slide 3 -->
		</ul>
	</div>
</div>
<!-- /REVOLUTION SLIDER -->

<hr class="m-0" />
<!-- 1px line separator -->

<!-- BUTTON CALLOUT -->
<a href="#contact" class="btn btn-xlg btn-danger fs-20 fullwidth m-0 rad-0 p-40">
<span class="font-lato fs-30">
	Did Rocket Elevators convinced you?
	<strong>Contact us &raquo;</strong>
</span>
</a>
<!-- /BUTTON CALLOUT -->

<!-- Services -->
<section id="services">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2 class="display-4">Awards and Services</h2>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<a class="image-hover lightbox" href="" style="cursor: none;">
					<span class="image-hover-icon image-hover-dark"
						><!-- image-hover-light | image-hover-dark -->
					</span>

					<img
						class="img-fluid"
						src="<%= asset_path( 'awards500px.jpg' ) %>"
						alt="img"
					/>
				</a>
				<h3 class="mt-10 text-danger text-center">Awards and projects</h3>
				<p class="text-justify">
					Since 1976, we have been recognized for numerous industry and
					project awards, including acknowledgement in corporate
					leadership, health and safety, and project excellence.
				</p>
				<br /><br />
				<center>
					<a href="#work" class="btn btn-danger mt-10">Learn more</a>
				</center>
			</div>
			<div class="col-sm-4">
				<a class="image-hover lightbox" href=""style="cursor: none;">
					<span class="image-hover-icon image-hover-dark"
						><!-- image-hover-light | image-hover-dark -->
					</span>
					<img
						class="img-fluid"
						src="<%= asset_path( 'img04.jpg' ) %>"
						alt="img"
					/>
				</a>
				<h3 class="mt-10 text-danger text-center">
					Commercial Solutions
				</h3>
				<p class="text-justify">
					Residential elevators are our specialty. Our elevators are the
					best on the market. We are proud of our company and our
					customers. Whether you are an elevator owner, builder, architect
					or seller, contact us to find out how Rocket Elevators and their
					products can exceed your expectations.
				</p>
				<center>
					<a href="commercial" class="btn btn-danger mt-10">Learn more</a>
				</center>
			</div>

			<div class="col-sm-4">
				<a class="image-hover lightbox" href=""style="cursor: none;">
					<span class="image-hover-icon image-hover-dark"
						><!-- image-hover-light | image-hover-dark -->
					</span>
					<img
						class="img-fluid"
						src="<%= asset_path( 'img05.jpg' ) %>"
						alt="img"
					/>
				</a>
				<h3 class="mt-10 text-danger text-center">
					Residential Solutions
				</h3>
				<p class="text-justify">
					Available in standard or custom sizes, our products are flexible
					and will meet your business needs. Can be installed in a
					building under construction or already existing, our
					installations will meet the standards and requirements in force.
				</p>
				<br />
				<center>
					<a href="residential" class="btn btn-danger mt-10">Learn more</a>
				</center>
			</div>
		</div>
	</div>
</section>
<!-- /Services -->

<!-- Parallax -->
<section
	class="parallax parallax-1"
	style="
		background-image: url('<%= asset_path( 'bg-img.jpg' ) %>');
	"
>
	<div class="overlay dark-7"><!-- dark overlay [1 to 9 opacity] --></div>

	<div class="container">
		<div class="text-center">
			<h1
				class="display-2 text-white"
				style="font-size: 3em; letter-spacing: 15px; margin-bottom: 0"
			>
				Rocket Elevators
			</h1>

			<h1 class="display-2 text-white" style="font-size: 1.6em">
				Improving the flow of urban life since 1976
			</h1>

			<a class="mr-5 btn btn-outline-danger btn-lg" href="form"
				>GET A QUOTE <i class="fa fa-angle-right"></i
			></a>

			<a class="btn btn-danger btn-danger btn-lg" href="#contact"
				>CONTACT US &nbsp; <i class="fa fa-angle-right"></i
			></a>
		</div>
	</div>
</section>
<!-- /Parallax -->

<!-- PORTFOLIO -->
<section id="work">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2 class="display-4">The Rocket Elevators Story</h2>
		</div>

		<div class="text-center">
			<ul class="nav nav-pills mix-filter mb-60">
				<li data-filter="all" class="filter active">
					<a href="#">All</a>
				</li>
				<li data-filter="Commercial" class="filter">
					<a href="#">Commercial</a>
				</li>
				<li data-filter="Residential" class="filter">
					<a href="#">Residential</a>
				</li>
				<li data-filter="Awards" class="filter">
					<a href="#">Awards</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="portfolio" class="portfolio-nogutter">
		<div class="row mix-grid">
			<div class="col-md-3 col-sm-3 mix Commercial">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="<%= asset_path( 'com01.jpg' ) %>"
									data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded lightbox"
									href="ajax/portfolio-detail-modal-6.html"
									data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'com01.jpg' ) %>"
							width="600"
							height="399"
							alt="Madrid, Spain"
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Glass Palace</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fas fa-map-marked-alt"></i>Madrid, Spain</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<div class="col-md-3 col-sm-3 mix Commercial">
				<!-- item 2 -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner" style="height: 100px">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/com02.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded lightbox"
									href="ajax/portfolio-detail-modal-6.html"
									data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'
									width="600"
									height="399"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'com02.jpg' ) %>"
							width="600"
							height="399"
							alt="Madrid, Spain"
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Commerzbank</h3>
						<ul class="list-inline categories m-0">
							<li>
								<i class="fas fa-map-marked-alt"></i>Francfort, Germany
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- fin item 2 -->

			<div class="col-md-3 col-sm-3 mix Commercial">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/com03.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded lightbox"
									href="ajax/portfolio-detail-modal-4.html"
									data-plugin-options='{"type":"ajax", "closeOnBgClick":false}'
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'com03.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Dubai mall</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fas fa-map-marked-alt"></i>Dubai, UAE</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<div class="col-md-3 col-sm-3 mix Commercial">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/com04.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded lightbox"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'com04.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Bestbank Tower</h3>
						<ul class="list-inline categories m-0">
							<li>
								<i class="fas fa-map-marked-alt"></i>California, USA
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<div class="col-md-3 col-sm-3 mix Residential">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/res01.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'res01.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Residential project</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fas fa-map-marked-alt"></i>Paris, France</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<div class="col-md-3 col-sm-3 mix Residential">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/res02.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'res02.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Home elevator classic</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fas fa-map-marked-alt"></i>Miami, USA</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<div class="col-md-3 col-sm-3 mix Residential">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/res03.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'res03.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Home elevator modern design</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fas fa-map-marked-alt"></i>Halifax, CA</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<div class="col-md-3 col-sm-3 mix Residential">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/res04.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'res04.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3>Residential elevator</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fas fa-map-marked-alt"></i>Toronto, CA</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /item -->

			<!-- Awards -->
			<!-- /item 1 -->

			<div class="col-md-3 col-sm-3 mix Awards">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/aw01.jpg"
									data-plugin-options='{"type":"image"}'
									
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'aw01.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3 class="display-4 text-center">
							The Stevie® Awards for Sales & Customer Service are the
							world's top honors for customer service, contact center,
							business development, and sales professionals
						</h3>
					</div>
				</div>
			</div>
			<!-- /item -->
			<!-- /item 2 -->

			<div class="col-md-3 col-sm-3 mix Awards">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/aw02.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'aw02.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3 class="display-4 text-center">
							The International Safety Awards are health and safety's most
							prestigious award scheme.
						</h3>
					</div>
				</div>
			</div>
			<!-- /item -->
			<!-- /item 3 -->

			<div class="col-md-3 col-sm-3 mix Awards">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="assets/images/aw03.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'aw03.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3 class="display-4 text-center">
							Rocket Elevators are investing in customer experience and
							customer service programs to drive loyalty and develop
							deeper relationships with their customers.
						</h3>
					</div>
				</div>
			</div>
			<!-- /item -->
			<!-- /item 4 -->

			<div class="col-md-3 col-sm-3 mix Awards">
				<!-- item -->

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a
									class="ico-rounded lightbox"
									href="./assets/images/aw04.jpg"
									data-plugin-options='{"type":"image"}'
								>
									<span class="fa fa-plus fs-20"></span>
								</a>

								<!-- details -->
								<a
									class="ico-rounded"
									href="portfolio-single-slider.html"
								>
								</a>
							</span>
						</span>

						<img
							class="img-fluid"
							src="<%= asset_path( 'aw04.jpg' ) %>"
							width="600"
							height="399"
							alt=""
						/>
					</figure>

					<div class="item-box-desc">
						<h3 class="display-4 text-center">
							The 2019 Canadian Construction Association (CCA) Awards of
							Excellence
						</h3>
					</div>
				</div>
			</div>
			<!-- /item -->
		</div>
	</div>
</section>
<!-- /PORTFOLIO -->
<!-- Testimonials

<!-- debut new testamonial -->
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 testimonials">
				<div class="heading-title heading-dotted text-center">
					<h2 class="display-4">Meet the team</h2>
				</div>

				<div class="col-center m-auto">
					<div
						id="myCarousel"
						class="carousel slide"
						data-ride="carousel"
					>
						<!-- Wrapper for carousel items -->
						<div class="carousel-inner">
							<div class="item carousel-item active">
								<div class="img-box">
									<img src="<%= asset_path( 'ceo.jpeg' ) %>" alt="CEO" />												
								</div>
								<h4 class="carousel-title"> <i class="fas fa-briefcase text-success mr-5 "></i>

									<span class="text-dark">Patrick Thibault</span></h4>
								<div class="carousel-line"></div>

								<p class="testimonial">
									A chief executive officer (CEO) with General Management experience,
									excellent leadership capabilities and a strong
									background in e-commerce, national and international
									marketing.
								</p>

								<h6 class="company-name">Rocket Elevators</h6>
							</div>

							<div class="item carousel-item">
								<div class="img-box">
									<img src="<%= asset_path( 'me.png' ) %>" alt="CEO" />	
								</div>
								<h4 class="carousel-title"> <i class="fas fa-award text-warning mr-5 "></i>

									<span class="text-dark">September 2020 Employee of the Month!</span></h4>
								<div class="carousel-line"></div>

								<p class="testimonial">
									Congrats to Saad Eddine. Saad is one of the newest members of our
									team. he is a true team player, always making herself
									available for any given tasks. he takes the time to
									treat each task with the same level of importance.
								</p>

								<h6 class="company-name">Rocket Elevators</h6>
							</div>


						</div>
						<!-- Carousel controls -->
						<a
							class="carousel-control left carousel-control-prev"
							href="#myCarousel"
							data-slide="prev"
							><span>Prev</span>
							<i class="fa fa-angle-left"></i>
						</a>
						<a
							class="carousel-control right carousel-control-next"
							href="#myCarousel"
							data-slide="next"
							><span>Next</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- fin new -->

<!-- /Testimonials -->

<!-- News -->
<section id="news">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2>Recent News</h2>
		</div>

		<!--
			controlls-over		= navigation buttons over the image
			buttons-autohide 	= navigation buttons visible on mouse hover only

			data-plugin-options:
				"singleItem": true
				"autoPlay": true (or ms. eg: 4000)
				"navigation": true
				"pagination": true
				"items": ""

			owl-carousel item paddings
				.owl-padding-0
				.owl-padding-3
				.owl-padding-6
				.owl-padding-10
				.owl-padding-15
				.owl-padding-20
		-->
		<div
			class="owl-carousel owl-padding-10 buttons-autohide controlls-over"
			data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'
		>
			<div class="img-hover">
				<a
					href="https://www.bbc.com/news/av/technology-40889669" target="_blank"
				>
					<img class="img-fluid" src="<%= asset_path( 'new01.jpg' ) %>" alt="" />
				</a>

				<h4 class="text-left mt-20">
					<a
						href="https://www.bbc.com/news/av/technology-40889669"
						target="_blank">Emerging technologies could lift elevator market</a
					>
				</h4>
				<p class="text-justify" style="height: 150px;">
					A new report into the global elevator market has found that
					emerging technology could help operators find large cost and
					time savings.
				</p>
				<ul class="text-center text-info fs-12 list-inline list-separator align-bottom">
					<li>
						<i class="fa fa-calendar "></i>
						29th March 2020
					</li>
				</ul>
			</div>
			<div class="img-hover">
				<a
					href="https://calgary.ctvnews.ca/broken-down-elevators-wear-on-southeast-calgary-apartment-building-residents-1.5083788"
					target="_blank">
					<img class="img-fluid" src="<%= asset_path( 'new03.jpg' ) %>" alt="" />
				</a>

				<h4 class="text-left mt-20">
					<a
						href="https://calgary.ctvnews.ca/broken-down-elevators-wear-on-southeast-calgary-apartment-building-residents-1.5083788"
						target="_blank">
						Calgary: Broken-down elevators
					</a>
				</h4>
				<p class="text-justify" style="height: 150px;">
					A resident of Radisson Place rental building says had being
					trapped herself inside the one functioning elevator for the
					11-storey complex
				</p>
				<ul class="text-center text-info fs-12 list-inline list-separator align-bottom">
					<li>
						<i class="fa fa-calendar"></i>
						August 28, 2020
					</li>
				</ul>
			</div>
			<div class="img-hover">
				<a
					href="https://www.marketwatch.com/story/otis-launches-study-of-elevator-airflow-to-see-risk-of-transmitting-covid-19-2020-08-27"
					target="_blank">
					<img class="img-fluid" src="<%= asset_path( 'new04.jpg' ) %>" alt="" />
				</a>

				<h4 class="text-left mt-20">
					<a
						href="https://www.marketwatch.com/story/otis-launches-study-of-elevator-airflow-to-see-risk-of-transmitting-covid-19-2020-08-27"
						target="_blank">COVID-19 transmission in elevators</a
					>
				</h4>
				<p class="text-justify" style="height: 150px;">
					Otis launches study of elevator airflow to see risk of
					transmitting COVID-19
				</p>
				<ul class="text-center text-info fs-12 list-inline list-separator align-bottom">
					<li>
						<i class="fa fa-calendar"></i>
						Jul 09, 2020
					</li>
				</ul>
			</div>
			<div class="img-hover">
				<a
					href="http://www.undertheradarmag.com/reviews/13th_floor_elevators_a_visual_history"
					target="_blank">
					<img class="img-fluid" src="<%= asset_path( 'new06.jpg' ) %>" alt="" />
				</a>
				<h4 class="text-left mt-20">
					<a
						href="http://www.undertheradarmag.com/reviews/13th_floor_elevators_a_visual_history"
						target="_blank">13th Floor Elevators: A Visual History</a
					>
				</h4>
				<p class="text-justify" style="height: 150px;">
					Paul Drummond undoubtedly knows more about Texas psychedelic
					rock band 13th Floor Elevators than anyone else.
				</p>

				<ul class="text-center text-info fs-12 list-inline list-separator align-bottom">
					<li>
						<i class="fa fa-calendar"></i>
						Feb 18, 2018
					</li>
				</ul>
			</div>
			<div class="img-hover">
				<a
					href="http://www.undertheradarmag.com/reviews/13th_floor_elevators_a_visual_history"
					target="_blank">
					<img class="img-fluid" src="<%= asset_path( 'new02.jpg' ) %>" alt="" />
				</a>
				<h4 class="text-left mt-20">
					<a
						href="http://www.undertheradarmag.com/reviews/13th_floor_elevators_a_visual_history"
						target="_blank">13th Floor Elevators: A Visual History</a
					>
				</h4>
				<p class="text-justify" style="height: 150px;">
					Paul Drummond undoubtedly knows more about Texas psychedelic
					rock band 13th Floor Elevators than anyone else.
				</p>

				<ul class="text-center text-info fs-12 list-inline list-separator align-bottom">
					<li>
						<i class="fa fa-calendar"></i>
						Feb 18, 2018
					</li>
				</ul>
			</div>

			<div class="img-hover">
				<a
					href="https://www.narcity.com/news/ca/on/toronto/st-michaels-hospital-ghost-stories-from-the-archives-are-honestly-terrifying"
					target="_blank">
					<img class="img-fluid" src="<%= asset_path( 'new05.jpg' ) %>" alt="" />
				</a>
				<h4 class="text-left mt-20">
					<a
						href="https://www.narcity.com/news/ca/on/toronto/st-michaels-hospital-ghost-stories-from-the-archives-are-honestly-terrifying"
						>Toronto: Ghost Stories</a
						target="_blank">
				</h4>
				<p class="text-justify" style="height: 180px;">
					Possessed elevators, rearranged medication, and flashing lights,
					these are some of the tamest moments from the accounts of staff
					experiencing supernatural forces.
				</p>

				<ul class="text-center text-info fs-12 list-inline list-separator align-bottom">
					<li>
						<i class="fa fa-calendar"></i>
						March 12, 2017
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- /News -->


<div class="vid-bg">
	<div class="overlay"></div>
	<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
		<source src="<%= asset_path( 'Golden-wings.mp4' ) %>" type="video/mp4">				  
	</video>
	<div class="container" style="margin-top: 150px;">
			<p class="text-center text-white display-3 lead mb-0">Rocket Elavators</p><p class="text-center text-white display-4 lead mb-0">Elevate <span class="text-danger">Safety, Speed </span>and <span class="text-warning">Style</span></p>
	</div>
	</div>
	

<!-- /Overview -->

<!-- Clients -->
<section id="clients" class="alternate">
	<div class="container">
		<div class="heading-title heading-dotted text-center">
			<h2 style="background-color: #F4F4F5;">Our Clients</h2>
		</div>

		<ul class="row clients-dotted list-inline">
			<li class="col-md-3 col-sm-3 col-6">
				<a>
					<img
						class="img-fluid"
						src="<%= asset_path( 'logo01.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"									
						src="<%= asset_path( 'logo02.png' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo03.png' ) %>"
						
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo04.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo05.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo06.png' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo07.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo08.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo09.png' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo10.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo11.png' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6">
				<a >
					<img
						class="img-fluid"
						img src="<%= asset_path( 'logo12.jpg' ) %>"
						alt="client"
						style="cursor: none;"
					/>
				</a>
			</li>
		</ul>
	</div>
</section>
<!-- /Clients -->

<!-- CONTACT -->
<section id="contact">
	<div class="container">
		<header class="text-center mb-60">
			<h2>Contact Us</h2>

			<hr />
		</header>


		<div class="row">
			<!-- FORM -->
			<div class="col-md-8 col-sm-8">
				<p class="text-muted text-info">
					Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!
				</p>

				<!-- MESSAGES -->

				<!-- Alert Success -->
				<div id="alert_success" class="alert alert-success mb-30">
					<button
						type="button"
						class="close"
						data-dismiss="alert"
						aria-hidden="true"
					>
						&times;
					</button>
					<strong>Thank You!</strong> Your message successfully sent!
				</div>
				<!-- /Alert Success -->

				<!-- Alert Failed -->
				<div id="alert_failed" class="alert alert-danger mb-30">
					<button
						type="button"
						class="close"
						data-dismiss="alert"
						aria-hidden="true"
					>
						&times;
					</button>
					<strong>[SMTP] Error!</strong> Internal server error!
				</div>
				<!-- /Alert Failed -->

				<!-- Alert Mandatory -->
				<div id="alert_mandatory" class="alert alert-danger mb-30">
					<button
						type="button"
						class="close"
						data-dismiss="alert"
						aria-hidden="true"
					>
						&times;
					</button>
					<strong>Sorry!</strong> You need to complete all mandatory (*)
					fields!
				</div>
				<!-- /Alert Mandatory -->

				<form
					action="php/contact.php"
					method="post"
					enctype="multipart/form-data"
				>
					<fieldset>
						<input type="hidden" name="action" value="contact_send" />

						<div class="row">
							<div class="col-6">
								<label for="contact:name">Full Name *</label>
								<input
									required
									type="text"
									value=""
									class="form-control"
									name="contact[name][required]"
									id="contact:name"
								/>
							</div>
							<!-- business name -->
							<div class="col-6">
								<label for="contact:name-business">Business Name</label>
								<input

									type="text"
									value=""
									class="form-control"
									name="contact[name-business]"
									id="contact:name-business"
								/>
							</div>
							<!-- fin b-name -->
							<div class="col-6">
								<label for="contact:email">E-mail Address *</label>
								<input
									required
									type="email"
									value=""
									class="form-control"
									name="contact[email][required]"
									id="contact:email"
								/>
							</div>
							<div class="col-6">
								<label for="contact:phone">Phone</label>
								<input
									type="text"
									value=""
									class="form-control"
									name="contact[phone]"
									id="contact:phone"
								/>
							</div>

						</div>

						<div class="row">

							<div class="col-md-6">
								<label for="contact: projectName">Project Name *</label>
								<input
									required
									type="text"
									value=""
									class="form-control"
									name="contact[projectName][required]"
									id="contact: projectName"
								/>
							</div>
							<div class="col-md-6">
								<label for="contact: projectDescription">Project Description *</label>
								<input
									required
									type="text"
									value=""
									class="form-control"
									name="contact[projectDescription][required]"
									id="contact:projectDescription"
								/>
							</div>
						</div>


						<div class="row">

							<div class="col-md-6">
								<label for="contact_department">Department</label>
								<select
									class="form-control pointer"
									name="contact[department]"
								>
									<option value="">--- Select the service please ---</option>
									<option value="Marketing">Sales</option>
									<option value="Webdesign">customers services</option>
									<option value="Architecture">Administration</option>
								</select>
							</div>
							<div class="col-md-6">
								<label for="contact:subject">Subject *</label>
								<input required type="text" value="" class="form-control" name="contact[subject][required]" id="contact:subject">
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<label for="contact:message">Message *</label>
								<textarea
									required
									maxlength="10000"
									rows="8"
									class="form-control"
									name="contact[message]"
									id="contact:message"
								></textarea>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label for="contact:attachment">File Attachment</label>

								<!-- custom file upload -->

								<input
									class="custom-file-upload "
									type="file"
									id="file"
									name="contact[attachment]"
									id="contact:attachment"
									data-btn-text="Select a File"

								/>
								<small class="text-muted block"
									>Max file size: 10Mb (zip/pdf/jpg/png)</small
								>
							</div>
						</div>
					</fieldset>

					<div class="row align-items-center">
						<div class="col-md-3  " ></div>
						<div class="col-md-6  " >
							<button  class="btn btn-block btn-danger" style="cursor: none;" disabled>
								<i class="fa fa-check"></i> SEND MESSAGE
							</button>
						</div>
						<div class="col-md-3  " ></div>
					</div>
				</form>
			</div>
			<!-- /FORM -->

			<!-- INFO -->
			<div class="col-md-4 col-sm-4">
				<h2 class="text-info">VISIT US !</h2>

				<!---->

				<!-- <div id="map2" class="h-400 grayscale"></div> -->

				<!--Google map-->

					<div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 590px">
						<iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=725%20Boulevard%20Lebourgneuf,%20Qu%C3%A9bec,%20QC%20G2J%200C4+(Rocket%20Elevators)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
						frameborder="0" style="border:0" allowfullscreen></iframe>
					</div>


				<hr />

				<p class="text-info">
					<span class="block text-info"
						><strong><i class="fa fa-map-marker"></i> Address:</strong>
						418-725 Boulevard Lebourgneuf, Québec,  G2J 0C4, Canada</span
					>
					<span class="block"
						><strong><i class="fa fa-phone"></i> Phone:</strong>
						<a href="tel: (581) 701-0303"> (581) 701-0303</a></span
					>
					<span class="block"
						><strong><i class="fa fa-envelope"></i> Email:</strong>
						<a href="
						Contactez-nous
						info@codeboxx.biz"
							>
							Contactez-nous
							info@codeboxx.biz</a
						></span
					>
				</p>
			</div>
			<!-- /INFO -->
		</div>
	</div>
</section>
<!-- /CONTACT -->
	
</div>
<!-- /wrapper -->

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>
</body>
<!-- SCROLL TO BOTTOM -->
	<a name="bottom"></a>

