<!DOCTYPE html>
<html>
  <head>
    <title>RocketElevatorsInformationSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>  
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

<%= favicon_link_tag asset_path('favicon-16x16.png') %>
 <!-- REVOLUTION SLIDER -->
    <%= stylesheet_link_tag    '/slider.revolution/css/extralayers.css' %>
    <%= stylesheet_link_tag    '/slider.revolution/css/settings.css' %>


    <!-- THEME CSS -->
    <%= stylesheet_link_tag    '/css/essentials.css' %>
    <%= stylesheet_link_tag    'layout' %>
    <!-- PAGE LEVEL SCRIPTS -->
    <%= stylesheet_link_tag    '/css/header-1' %>
    <link
			href="assets/css/color_scheme/red.css"
			rel="stylesheet"
			type="text/css"
			id="color_scheme"
		/>
    

		
  </head>

 

  
    <%= yield %>
    <%= javascript_include_tag 'popper.min'%>
    <%= javascript_include_tag 'demo.revolution_slider'%>
    <%= javascript_include_tag '/plugins/slider.revolution/jsjquery.themepunch.tools.min'%>
    <%= javascript_include_tag '/plugins/slider.revolution/jquery.themepunch.revolution.min'%>
</html>
